# Wine

### Introdução:

Este exercício é uma adaptação do conjunto de dados UCI Wine.
O único propósito é praticar o tratamento de dados com pandas.

### Passo 1. Importe as bibliotecas necessárias

In [2]:
import pandas as pd
import numpy as np

### Passo 2. Importe o conjunto de dados deste endereço - https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data.

In [3]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data"

### Passo 3. Atribua-o a uma variável chamada vinho

In [4]:
colunas = ['class', 'alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium',
           'total_phenols', 'flavanoids', 'nonflavanoid_phenols', 'proanthocyanins',
           'color_intensity', 'hue', 'od280/od315_of_diluted_wines', 'proline']

vinho = pd.read_csv(url, header=None, names=colunas)

print(vinho.head())

   class  alcohol  malic_acid   ash  alcalinity_of_ash  magnesium  \
0      1    14.23        1.71  2.43               15.6        127
1      1    13.20        1.78  2.14               11.2        100
2      1    13.16        2.36  2.67               18.6        101
3      1    14.37        1.95  2.50               16.8        113
4      1    13.24        2.59  2.87               21.0        118

   total_phenols  flavanoids  nonflavanoid_phenols  proanthocyanins  \
0           2.80        3.06                  0.28             2.29
1           2.65        2.76                  0.26             1.28
2           2.80        3.24                  0.30             2.81
3           3.85        3.49                  0.24             2.18
4           2.80        2.69                  0.39             1.82

   color_intensity   hue  od280/od315_of_diluted_wines  proline
0             5.64  1.04                          3.92     1065
1             4.38  1.05                          3.40     1050
2             5.68  1.03                          3.17     1185
3             7.80  0.86                          3.45     1480
4             4.32  1.04                          2.93      735

### Passo 4. Apague a primeira, quarta, sétima, nona, décima primeira, décima terceira e décima quarta colunas

In [5]:
vinho.drop(vinho.columns[[0, 3, 6, 8, 10, 12, 13]], axis=1, inplace=True)

print(vinho.head())

   alcohol  malic_acid  alcalinity_of_ash  magnesium  flavanoids  \
0    14.23        1.71               15.6        127        3.06
1    13.20        1.78               11.2        100        2.76
2    13.16        2.36               18.6        101        3.24
3    14.37        1.95               16.8        113        3.49
4    13.24        2.59               21.0        118        2.69

   proanthocyanins   hue
0             2.29  1.04
1             1.28  1.05
2             2.81  1.03
3             2.18  0.86
4             1.82  1.04

### Passo 5. Atribua as colunas conforme abaixo:

Os atributos são (doados por Riccardo Leardi, riclea '@' anchem.unige.it):
1) álcool
2) ácido_málico
3) alcalinidade_das_cinzas
4) magnésio
5) flavonóides
6) proantocianinas
7) matiz

In [6]:
vinho.columns = ['alcohol', 'malic_acid', 'ash_alcalinity', 'magnesium', 'flavanoids', 'proanthocyanins', 'hue']

print(vinho.head())

   alcohol  malic_acid  ash_alcalinity  magnesium  flavanoids  \
0    14.23        1.71            15.6        127        3.06
1    13.20        1.78            11.2        100        2.76
2    13.16        2.36            18.6        101        3.24
3    14.37        1.95            16.8        113        3.49
4    13.24        2.59            21.0        118        2.69

   proanthocyanins   hue
0             2.29  1.04
1             1.28  1.05
2             2.81  1.03
3             2.18  0.86
4             1.82  1.04

### Passo 6. Defina os valores das 3 primeiras linhas do álcool como NaN

In [7]:
vinho.loc[0:2, 'alcohol'] = np.nan

print(vinho.head())

   alcohol  malic_acid  ash_alcalinity  magnesium  flavanoids  \
0      NaN        1.71            15.6        127        3.06
1      NaN        1.78            11.2        100        2.76
2      NaN        2.36            18.6        101        3.24
3    14.37        1.95            16.8        113        3.49
4    13.24        2.59            21.0        118        2.69

   proanthocyanins   hue
0             2.29  1.04
1             1.28  1.05
2             2.81  1.03
3             2.18  0.86
4             1.82  1.04

### Passo 7. Agora defina o valor das linhas 3 e 4 do magnésio como NaN

In [8]:
vinho.loc[2:3, 'magnesium'] = np.nan

print(vinho.head())

   alcohol  malic_acid  ash_alcalinity  magnesium  flavanoids  \
0      NaN        1.71            15.6      127.0        3.06
1      NaN        1.78            11.2      100.0        2.76
2      NaN        2.36            18.6        NaN        3.24
3    14.37        1.95            16.8        NaN        3.49
4    13.24        2.59            21.0      118.0        2.69

   proanthocyanins   hue
0             2.29  1.04
1             1.28  1.05
2             2.81  1.03
3             2.18  0.86
4             1.82  1.04

### Passo 8. Preencha o valor de NaN com o número 10 em álcool e 100 em magnésio

In [9]:
vinho['alcohol'] = vinho['alcohol'].fillna(10)
vinho['magnesium'] = vinho['magnesium'].fillna(100)

print(vinho.head())

   alcohol  malic_acid  ash_alcalinity  magnesium  flavanoids  \
0    10.00        1.71            15.6      127.0        3.06
1    10.00        1.78            11.2      100.0        2.76
2    10.00        2.36            18.6      100.0        3.24
3    14.37        1.95            16.8      100.0        3.49
4    13.24        2.59            21.0      118.0        2.69

   proanthocyanins   hue
0             2.29  1.04
1             1.28  1.05
2             2.81  1.03
3             2.18  0.86
4             1.82  1.04

### Passo 9. Conte o número de valores em falta

In [10]:
valores_faltando = vinho.isna().sum()

print(valores_faltando)

alcohol            0
malic_acid         0
ash_alcalinity     0
magnesium          0
flavanoids         0
proanthocyanins    0
hue                0
dtype: int64

### Passo 10. Crie uma matriz de 10 números aleatórios até 10

In [11]:
matriz = np.random.randint(0, 11, size=10)

matriz

# matriz = np.random.randint(0, 10, size=10)
# matriz

array([6, 7, 2, 0, 3, 9, 0, 7, 0, 0], dtype=int32)

### Passo 11. Utilize os números aleatórios que gerou como índice e atribua o valor NaN a cada célula.

In [12]:
matriz = np.random.randint(0, 10, size=10)


df = pd.DataFrame(np.random.randn(10, 5), columns=['A', 'B', 'C', 'D', 'E'])

print("DataFrame original:")
print(df)

df.iloc[matriz] = np.nan

print("\nDataFrame após atribuir NaN:")
print(df)

DataFrame original:
          A         B         C         D         E
0  0.011120 -0.543450 -0.380424 -0.526349  1.118029
1 -0.194323  0.736480 -2.320563 -0.730862 -0.329620
2 -1.511837  0.834701 -1.813252 -0.141143 -1.064270
3 -0.099289 -0.349239 -1.270975 -0.228409  1.314080
4  1.713888  2.760832 -1.741569 -0.456198 -0.070092
5  0.469022 -0.026344  0.084499 -1.407287 -1.199024
6  0.063180  0.690039 -0.029125 -0.284148  0.149486
7  0.488216 -0.123770 -0.708933  0.169168  0.111576
8  0.057144  0.108775  1.715927 -0.462127  0.890507
9 -1.496286  0.983610  0.713319 -0.196633 -0.662914

DataFrame após atribuir NaN:
          A         B         C         D         E
0  0.011120 -0.543450 -0.380424 -0.526349  1.118029
1 -0.194323  0.736480 -2.320563 -0.730862 -0.329620
2 -1.511837  0.834701 -1.813252 -0.141143 -1.064270
3       NaN       NaN       NaN       NaN       NaN
4       NaN       NaN       NaN       NaN       NaN
5       NaN       NaN       NaN       NaN       NaN
6       NaN       NaN       NaN       NaN       NaN
7       NaN       NaN       NaN       NaN       NaN
8  0.057144  0.108775  1.715927 -0.462127  0.890507
9       NaN       NaN       NaN       NaN       NaN

### Passo 12. Quantos valores em falta temos?

In [13]:
valores_faltando = df.isna().sum().sum()

print(f"Total de valores em falta (NaN): {valores_faltando}")

Total de valores em falta (NaN): 30

### Passo 13. Apague as linhas que contêm valores em falta

In [15]:
df.dropna(axis=0, inplace=True)

print(df)

          A         B         C         D         E
0  0.011120 -0.543450 -0.380424 -0.526349  1.118029
1 -0.194323  0.736480 -2.320563 -0.730862 -0.329620
2 -1.511837  0.834701 -1.813252 -0.141143 -1.064270
8  0.057144  0.108775  1.715927 -0.462127  0.890507

### Passo 14. Imprima apenas os valores não nulos em álcool

In [16]:
df = pd.DataFrame(np.random.randn(10, 5), columns=['A', 'B', 'C', 'D', 'E'])
df.columns = ['alcohol', 'malic_acid', 'ash_alcalinity', 'magnesium', 'flavanoids']
print("Colunas após renomeação:", df.columns)

print("\nValores não nulos na coluna 'alcohol':")
print(df['alcohol'].dropna())

Colunas após renomeação: Index(['alcohol', 'malic_acid', 'ash_alcalinity', 'magnesium', 'flavanoids'], dtype='object')

Valores não nulos na coluna 'alcohol':
0   -0.194923
1   -0.770311
2   -1.283842
3   -0.234425
4    1.022837
5    0.466191
6    0.693660
7    0.491746
8    0.310684
9    0.566583
Name: alcohol, dtype: float64

### Passo 15. Reponha o índice para que comece com 0 novamente

In [17]:
df.reset_index(drop=True, inplace=True)

print(df)

    alcohol  malic_acid  ash_alcalinity  magnesium  flavanoids
0 -0.194923   -1.141091       -1.030740  -0.408617    1.039021
1 -0.770311   -0.565700       -0.073100  -0.696611    0.528360
2 -1.283842    0.552210        0.503623   0.297402    0.685534
3 -0.234425   -1.996768        0.526692   1.412731   -0.788419
4  1.022837    0.733598        0.319476  -0.325861    0.235693
5  0.466191    1.081642        0.444004   0.305971    2.141312
6  0.693660   -1.450059        0.385480  -1.728390   -0.682898
7  0.491746   -0.076036        0.831360  -2.395525   -0.361935
8  0.310684    0.816132       -0.977068  -0.197021   -0.920964
9  0.566583    0.298368       -0.885698   1.152329   -1.195840