# Agrupar: Dividir, Combinar e Aplicar
(Groupby : Split, Apply e Combine)
---------------
   O Groupby é uma das operações importantes na análise de dados. Inclui três etapas - <br>
         
   <ul>
    <li><b>Splitting</b></li>
    <li><b>Applying</b>
        <ul>
            <li>Aggregation</li>
            <li>Transformation</li>
            <li>Filterting</li>
        </ul>
    </li>
    <li><b>Combine</b></li>
   </ul>
        
   A propriedade Groupby agrupa os dados de acordo com a coluna fornecida à função.No exemplo a seguir pode ver um agrupamento com o dataframe df.

In [ ]:
import pandas as pd
import numpy as np
print( pd.__version__)
print( np.__version__)

In [ ]:
d={
    'team':["India","New zealand","Australia","India",
            "India","New zealand","Australia","India",
            "New zealand","Australia","New zealand","Australia"],
     'Run':[330,230,300,180,200,250,190,400,340,290,390,333],
     "Match":[2,4,2,1,5,6,3,2,5,3,1,1],
     "Year":['2012','2012','2012','2012','2013','2013','2013','2013','2014','2014','2014','2014']
  }
df=pd.DataFrame(d)
df

    A função groupby() retornará um objeto. Podemos imaginar que cada grupo está a apontar para o seu dataframe.

In [ ]:
g=df.groupby('team')
g

In [ ]:
for team,teamdata in g:
    print(team)
    print("-"*10)
    print(teamdata)
    print("-"*35)

 **get_group('group name') :**  <br>
    Retornará o dataframe de um grupo específico

In [ ]:
g.get_group('India')

In [ ]:
g.get_group('Australia')

    Também podemos realizar as operações que estávamos aplicando ao dataframe. A única diferença que obtém é que a operação será aplicada a todos os grupos e retornará o resultado de todos os grupos.

In [ ]:
g.min()

In [ ]:
# g.mean()
g.mean(numeric_only=True) # recent pandas needed it

In [ ]:
g_yr=df.groupby('Year')
# g_yr['Run'].agg([np.min,np.max,np.mean,np.sum,np.std])
g_yr['Run'].agg(['min','max','mean','sum','std']) # recent pandas