In [9]:
import pandas as pd
import numpy as np

# 1. Ordenar o DataFrame com base noutra lista

In [25]:
df = pd.DataFrame([["A", 1],
                   ["B", 2],
                   ["C", 3],
                   ["D", 4]], 
                  columns=["col1", "col2"])

df

  col1  col2
0    A     1
1    B     2
2    C     3
3    D     4

In [3]:
sort_list = ["C", "A", "D", "B"]

In [11]:
## inicie o seu código abaixo
new_df = ...
## termine aqui o seu código

In [4]:
new_df

# 2. Inserir uma coluna numa posição específica num DataFrame

In [30]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]], 
                  columns=["col_A", "col_B"])

df

  col_A  col_B
0     A      1
1     B      2
2     C      3
3     D      4

In [31]:
new_column = ["P", "Q", "R", "S"]

insert_position = 1 ## entre col_A e col_B

In [ ]:
## inicie o seu código abaixo
new_df = ...
## termine aqui o seu código

In [ ]:
new_df

# 3. Selecionar colunas com base no tipo de dados da coluna

In [36]:
df = pd.DataFrame([["A", 1, True], ["B", 2, False],
                   ["C", 3, False], ["D", 4, True]], 
                  columns=["col_A", "col_B", "col_C"])

df

  col_A  col_B  col_C
0     A      1   True
1     B      2  False
2     C      3  False
3     D      4   True

In [35]:
dt_type = "bool"

In [ ]:
## inicie o seu código abaixo
new_df = ...
## termine aqui o seu código

In [ ]:
new_df

# 4. Contar o número de células Non-NaN para cada coluna

In [ ]:
df = pd.DataFrame([["A", np.nan], [np.nan, 2],
                   ["C", np.nan], ["D", 4]], 
                  columns=["col_A", "col_B"])

df

  col_A  col_B
0     A    NaN
1   NaN    2.0
2     C    NaN
3     D    4.0

In [ ]:
## inicie o seu código abaixo
new_df = ...
## termine aqui o seu código

# 5. Dividir o DataFrame em partes iguais

In [ ]:
new_df

In [41]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]], 
                  columns=["col_A", "col_B"])

df

  col_A  col_B
0     A      1
1     B      2
2     C      3
3     D      4

In [42]:
parts = 2

In [ ]:
## inicie o seu código abaixo
new_df1, new_df2 = ... 
## termine aqui o seu código

In [ ]:
new_df1

In [ ]:
new_df2

# 6. Inverter o DataFrame por linha ou coluna

In [46]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]], 
                  columns=["col_A", "col_B"])

df

  col_A  col_B
0     A      1
1     B      2
2     C      3
3     D      4

In [ ]:
## inicie o seu código abaixo
col_reverse = ... 
## termine aqui o seu código

In [ ]:
col_reverse

In [ ]:
## inicie o seu código abaixo
row_reverse = ... 
## termine aqui o seu código

In [ ]:
row_reverse

# 7. Reorganizar as colunas de um DataFrame

In [49]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]], 
                  columns=["col_A", "col_B"])

df

  col_A  col_B
0     A      1
1     B      2
2     C      3
3     D      4

In [ ]:
## inicie o seu código abaixo
new_df = ... 
## termine aqui o seu código

In [ ]:
new_df

# 8. Obter linhas alternativas de um DataFrame

In [56]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]], 
                  columns=["col_A", "col_B"])

df

  col_A  col_B
0     A      1
1     B      2
2     C      3
3     D      4

In [ ]:
## inicie o seu código abaixo
new_df = ... 
## termine aqui o seu código

In [ ]:
new_df

# 9. Inserir uma linha numa posição arbitrária

In [62]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]], 
                  columns=["col_A", "col_B"])

df

  col_A  col_B
0     A      1
1     B      2
2     C      3
3     D      4

In [63]:
insert_pos = 1
insert_row = ["P", 5]

In [ ]:
## inicie o seu código abaixo
new_df = ... 
## termine aqui o seu código

In [ ]:
new_df

# 10. Aplicar uma função a todas as células do DataFrame

In [76]:
df = pd.DataFrame([[1, 5], [2, 6],
                   [3, 7], [4, 8]], 
                  columns=["col_A", "col_B"])

df

   col_A  col_B
0      1      5
1      2      6
2      3      7
3      4      8

In [75]:
def func(num):
    return num + 1

In [ ]:
## inicie o seu código abaixo
new_df = ... 
## termine aqui o seu código

In [ ]:
new_df