# Introdução aos Pandas

#### 1. O que é o Data science ?


A ciência de dados (Data science) é o processo de análise de dados e extração de informações úteis. Para extrair as informações úteis, primeiro precisamos analisar o conjunto de dados realizando algumas operações. <br>
De outra forma, pode dizer que é a ciência dos dados, encontrar relações ocultas e usá-las para prever o futuro. <br>
![alt text](datasets/ds1.jpg) <br>
Ciência de dados combinando vários campos como pré-processamento de dados, conhecimento de domínio, aprendizagem de máquina, matemática, estatística. Aqui falamos apenas sobre pré-processamento de dados de maneira eficiente com o pandas.

#### 2. O que é o Pandas ?

O Pandas é usado como ferramenta de limpeza de dados no campo da ciência de dados. Pode fazer qualquer operação que desejar no conjunto de dados com esta ferramenta. Agora surge a pergunta, podemos limpar ou alterar o valor no conjunto de dados manualmente? A resposta é sim, podemos se o tamanho do conjunto de dados for pequeno. E se tivermos um conjunto de dados grande, não podemos fazê-lo manualmente, levará muito tempo. O Pandas torna a ciência de dados muito fácil e eficaz.

###### Para usar pandas você precisa primeiro importar o módulo pandas em seu programa

In [1]:
import pandas as pd #Now you can use pandas functions by pd.read_csv("path") etc..

### Leitura de ficheiros CSV e folhas de cálculo Excel:

##### d=pd.read_csv("path"):
 * pd.read_csv() é a função para ler o ficheiro CSV (valores separados por vírgula) do seu computador.
 * Na função pode passar "caminho" do ficheiro CSV entre aspas.
 * Armazene o dataframe em qualquer variável, neste caso na variável "d".
 * A função read_csv() transforma o ficheiro CSV em dataframe para que possa acedê-lo como um dicionário.

##### d=pd.read_excel("path") : 
* É o mesmo que read_csv(), mas lê planilha ou arquivo do Excel.
Aqui estou usando o conjunto de dados meteorológicos que possui todos os dados do clima.
###### Neste caso, o ficneiro weather.csv está no meu diretório atual, por isso o caminho do arquivo é o próprio nome do arquivo.

In [1]:
import pandas as pd  # Certifique-se de que o pandas foi importado

# Carregar o arquivo CSV para um DataFrame
d = pd.read_csv('D:/PastaUFCDs/UFCD1080803032025/Pandas/Panda120250303/weather.csv')

# Exibir o DataFrame
d.head()  # Para ver as primeiras linhas do DataFrame

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

#### Quantas linhas ?

In [2]:
print(len(d))
# there are 96453 rows

96453

### Para obter as primeiras n linhas do conjunto de dados
  * Para ver as primeiras cinco linhas, chame a função head() com o objeto dataframe. <br>
      por exemplo-
      <code> d.head() </code> <br>
  * Se quiser ver as primeiras n linhas <br>
      <code> d.head(n) </code>

In [3]:
d.head() # first five rows

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [5]:
d.head(9) # to print first n=9 rows

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
5,2006-04-01 05:00:00.000 +0200,Partly Cloudy,rain,9.222222,7.111111,0.85,13.9587,258.0,14.9569,0.0,1016.66,Partly cloudy throughout the day.
6,2006-04-01 06:00:00.000 +0200,Partly Cloudy,rain,7.733333,5.522222,0.95,12.3648,259.0,9.9820,0.0,1016.72,Partly cloudy throughout the day.
7,2006-04-01 07:00:00.000 +0200,Partly Cloudy,rain,8.772222,6.527778,0.89,14.1519,260.0,9.9820,0.0,1016.84,Partly cloudy throughout the day.
8,2006-04-01 08:00:00.000 +0200,Partly Cloudy,rain,10.822222,10.822222,0.82,11.3183,259.0,9.9820,0.0,1017.37,Partly cloudy throughout the day.

### Obter as últimas n linhas do conjunto de dados
  * Chame a função tail() <br>
     <code> d.tail() </code> <br>
Mostra apenas as últimas cinco linhas do dataframe d. <br>
  * Se quiser ver as últimas n linhas - <br>
     <code> d.tail(n) </code>

In [6]:
d.tail() #last five rows

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [7]:
d.tail(9) # last 9 rows

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
96444,2016-09-09 15:00:00.000 +0200,Partly Cloudy,rain,31.083333,29.616667,0.28,15.5043,40.0,16.1000,0.0,1014.17,Partly cloudy starting in the morning.
96445,2016-09-09 16:00:00.000 +0200,Partly Cloudy,rain,31.083333,29.611111,0.28,13.8943,40.0,16.1000,0.0,1013.97,Partly cloudy starting in the morning.
96446,2016-09-09 17:00:00.000 +0200,Partly Cloudy,rain,30.766667,29.311111,0.28,14.2163,24.0,15.5526,0.0,1013.83,Partly cloudy starting in the morning.
96447,2016-09-09 18:00:00.000 +0200,Partly Cloudy,rain,28.838889,27.850000,0.32,12.2038,21.0,16.1000,0.0,1014.07,Partly cloudy starting in the morning.
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

### Slicing in the dataframe
 * Suppose you want to get 10 rows of the dataframe ranging from row 20 to 30. <br>
   <code> d[20<b>:</b>30+1] </code>

### Fatiando o dataframe
 * Suponha que quer obter 10 linhas do dataframe variando da linha 20 a 30. <br>
   <code> d[20<b>:</b>30+1] </code>

In [8]:
d[20:31]

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
20,2006-04-01 20:00:00.000 +0200,Mostly Cloudy,rain,11.550000,11.550000,0.77,7.3899,147.0,11.0285,0.0,1015.85,Partly cloudy throughout the day.
21,2006-04-01 21:00:00.000 +0200,Mostly Cloudy,rain,11.183333,11.183333,0.76,4.9266,160.0,9.9820,0.0,1015.77,Partly cloudy throughout the day.
22,2006-04-01 22:00:00.000 +0200,Partly Cloudy,rain,10.116667,10.116667,0.79,6.6493,163.0,15.8263,0.0,1015.40,Partly cloudy throughout the day.
23,2006-04-01 23:00:00.000 +0200,Mostly Cloudy,rain,10.200000,10.200000,0.77,3.9284,152.0,14.9569,0.0,1015.51,Partly cloudy throughout the day.
24,2006-04-10 00:00:00.000 +0200,Partly Cloudy,rain,10.422222,10.422222,0.62,16.9855,150.0,15.8263,0.0,1014.40,Mostly cloudy throughout the day.
25,2006-04-10 01:00:00.000 +0200,Partly Cloudy,rain,9.911111,7.566667,0.66,17.2109,149.0,15.8263,0.0,1014.20,Mostly cloudy throughout the day.
26,2006-04-10 02:00:00.000 +0200,Mostly Cloudy,rain,11.183333,11.183333,0.80,10.8192,163.0,14.9569,0.0,1008.71,Mostly cloudy throughout the day.
27,2006-04-10 03:00:00.000 +0200,Partly Cloudy,rain,7.155556,5.044444,0.79,11.0768,180.0,15.8263,0.0,1014.47,Mostly cloudy throughout the day.
28,2006-04-10 04:00:00.000 +0200,Partly Cloudy,rain,6.111111,4.816667,0.82,6.6493,161.0,15.8263,0.0,1014.45,Mostly cloudy throughout the day.
29,2006-04-10 05:00:00.000 +0200,Partly Cloudy,rain,6.788889,4.272222,0.83,13.0088,135.0,14.9569,0.0,1014.49,Mostly cloudy throughout the day.
30,2006-04-10 06:00:00.000 +0200,Mostly Cloudy,rain,7.261111,5.155556,0.85,11.1734,141.0,6.1985,0.0,1014.52,Mostly cloudy throughout the day.

### Aceder a uma coluna específica do dataframe:
 * Pode aceder à coluna específica do dataframe apenas mencionando seu nome entre aspas com dataframe d.<br>
    por exemplo, para aceder à coluna de umidade e.i, <br>

    <code> d['Humidity'] </code>

In [9]:
d['Humidity'].head(10) 
#Here i have applied head() function just to see only first 10 values because humidity 
#column has too many values

0    0.89
1    0.86
2    0.89
3    0.83
4    0.83
5    0.85
6    0.95
7    0.89
8    0.82
9    0.72
Name: Humidity, dtype: float64

### Encontrar o min, o max e a média de uma coluna:
  * <b>min() :</b> Para encontrar o mínimo de uma coluna
  * <b>max() :</b> Para encontrar o máximo de uma coluna <br>
  * <b>mean() :</b> Para encontrar a média de uma coluna <br>
  
Encontrar o mínimo e o máximo da coluna de Umidade-

In [10]:
d['Humidity'].min() 
#Printing minimum value of Humidity

np.float64(0.0)

In [11]:
d['Humidity'].max()
#Print maximum value Humidity

np.float64(1.0)

In [12]:
d['Humidity'].mean()
#Print average value Humidty

np.float64(0.7348989663359355)

### Declarações condicionais
  * <code>d["sua coluna"]["sua condição"] </code> <br>
   Retornará todos os valores em que sua condição for verdadeira.
#### Exemplos : <br>
  * Encontrar a temperatura quando a umidade é mínima<br>
  
    <code> d['Temperature(C)'][d['Humidade']==d['Humidade'].min() ]</code> <br><br>
    
  * Encontrar temp quando a umidade é máxima <br>
  
    <code> d['Temperature(C)'][d['Humidade']==d['Humidade'].max() ] </code>

In [13]:
d['Temperature (C)'][d['Humidity']==d['Humidity'].min()]

19958    -1.111111
28101   -15.000000
28103   -15.555556
28110   -13.888889
29627     1.111111
54840   -15.555556
54858   -15.000000
54870   -16.111111
54872   -15.000000
54873   -13.888889
55086   -12.777778
55088   -12.777778
55349   -12.222222
55350   -12.222222
55352   -12.222222
55412   -17.777778
55469   -17.777778
55472   -17.777778
55473   -16.111111
55481   -12.777778
55508   -16.111111
55511   -17.777778
Name: Temperature (C), dtype: float64

In [14]:
d['Temperature (C)'][d['Humidity']==d['Humidity'].max()]

319      11.972222
342       7.155556
390       7.688889
535       5.933333
536      10.405556
           ...
95907    14.905556
96123     7.594444
96148     8.838889
96363    12.338889
96364    12.872222
Name: Temperature (C), Length: 2890, dtype: float64

###### In the same way you can apply various condition and analyse it hidden features

### Substituir NaN por um valor específico
 * Aqui estamos a substituir todos os valores NaN por 0.<p>
 * Mas antes contar e mostrar algumas linhas

In [15]:
d[d.isna().any(axis=1)]

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
52672,2012-04-11 16:00:00.000 +0200,Mostly Cloudy,NaN,19.016667,19.016667,0.26,14.8764,163.0,9.982,0.0,1002.40,Mostly cloudy until night.
52674,2012-04-11 18:00:00.000 +0200,Mostly Cloudy,NaN,17.850000,17.850000,0.28,13.7977,169.0,9.982,0.0,1001.79,Mostly cloudy until night.
52675,2012-04-11 19:00:00.000 +0200,Mostly Cloudy,NaN,16.322222,16.322222,0.32,10.8192,151.0,9.982,0.0,1001.60,Mostly cloudy until night.
52677,2012-04-11 21:00:00.000 +0200,Mostly Cloudy,NaN,12.566667,12.566667,0.43,9.0160,159.0,9.982,0.0,1001.92,Mostly cloudy until night.
52678,2012-04-11 22:00:00.000 +0200,Mostly Cloudy,NaN,12.927778,12.927778,0.47,17.6295,197.0,16.100,0.0,1002.20,Mostly cloudy until night.
...,...,...,...,...,...,...,...,...,...,...,...,...
95584,2016-10-31 19:00:00.000 +0100,Mostly Cloudy,NaN,8.322222,7.044444,0.85,8.0339,290.0,0.000,0.0,1021.73,Mostly cloudy starting in the afternoon.
95585,2016-10-31 20:00:00.000 +0100,Mostly Cloudy,NaN,7.627778,6.183333,0.87,8.2271,293.0,0.000,0.0,1021.76,Mostly cloudy starting in the afternoon.
95586,2016-10-31 21:00:00.000 +0100,Mostly Cloudy,NaN,7.111111,5.511111,0.89,8.5008,297.0,0.000,0.0,1021.81,Mostly cloudy starting in the afternoon.
95587,2016-10-31 22:00:00.000 +0100,Partly Cloudy,NaN,6.672222,4.961111,0.90,8.6457,299.0,0.000,0.0,1021.83,Mostly cloudy starting in the afternoon.
95588,2016-10-31 23:00:00.000 +0100,Mostly Cloudy,NaN,6.322222,4.588889,0.91,8.4686,299.0,0.000,0.0,1021.80,Mostly cloudy starting in the afternoon.

In [16]:
d[52672:52673]

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
52672,2012-04-11 16:00:00.000 +0200,Mostly Cloudy,NaN,19.016667,19.016667,0.26,14.8764,163.0,9.982,0.0,1002.4,Mostly cloudy until night.

E finalmente a correção no dataframe dos dados

In [17]:
d.fillna(0,inplace=True)

In [19]:
d[52672:52673]

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
52672,2012-04-11 16:00:00.000 +0200,Mostly Cloudy,0,19.016667,19.016667,0.26,14.8764,163.0,9.982,0.0,1002.4,Mostly cloudy until night.