In [1]:
import pandas as pd
import numpy as np

# 1. A soma cumulativa de uma coluna no DataFrame

In [55]:
df = pd.DataFrame([["A", 1],
                   ["B", 2],
                   ["C", 3],
                   ["D", 4]], columns=["col_A", "col_B"])

df

  col_A  col_B
0     A      1
1     B      2
2     C      3
3     D      4

In [11]:
## inicie o seu código abaixo
new_df = ... 
## termine aqui o seu código

In [4]:
new_df

# 2. Numeração exclusiva por grupo individual no Pandas GroupBy

In [10]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["A", 3], ["D", 4]], 
                  columns=["col_A", "col_B"])

df

  col_A  col_B
0     A      1
1     B      2
2     A      3
3     D      4

In [ ]:
## inicie o seu código abaixo
new_df = ... 
## termine aqui o seu código

In [ ]:
new_df

# 3. Verificar se a coluna tem valores NaN

In [18]:
df = pd.DataFrame([["A", np.NaN], ["A", 2], ["C", np.NaN], ["D", 4]], 
                  columns=["col_A", "col_B"])

df

  col_A  col_B
0     A    NaN
1     A    2.0
2     C    NaN
3     D    4.0

In [ ]:
## inicie o seu código abaixo
col_A_check = ... 
col_B_check = ... 
## termine aqui o seu código

In [ ]:
col_A_check, col_B_check

# 4. Adicionar uma lista como uma linha a um DataFrame

In [21]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]], 
                  columns=["col_A", "col_B"])

df

  col_A  col_B
0     A      1
1     B      2
2     C      3
3     D      4

In [22]:
new_row = ["E", 5]

In [25]:
df

  col_A  col_B
0     A      1
1     B      2
2     C      3
3     D      4
4     E      5

In [ ]:
## inicie o seu código abaixo
new_df = ... 
## termine aqui o seu código

In [ ]:
new_df

# 5. Criar uma primeira linha com cada valor único numa coluna

In [27]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["A", 3], ["D", 4]], 
                  columns=["col_A", "col_B"])

df

  col_A  col_B
0     A      1
1     B      2
2     A      3
3     D      4

In [ ]:
## inicie o seu código abaixo
new_df = ... 
## termine aqui o seu código

In [ ]:
new_df

# 6. Identificar a origem de cada linha no Pandas Merge

In [33]:
df1 = pd.DataFrame([["A", 1], ["B", 2]], 
                  columns=["col_A", "col_B"])

df2 = pd.DataFrame([["A", 3], ["C", 4]], 
                  columns=["col_A", "col_C"])

df1

  col_A  col_B
0     A      1
1     B      2

In [ ]:
## inicie o seu código abaixo
new_df = ... 
## termine aqui o seu código

In [ ]:
new_df

# 7. Filtrar n-maiores (n-largest) e n-menores (n-smallest) valores de um DataFrame

In [37]:
df = pd.DataFrame([["A", 200], ["B", 400],
                   ["C", 100], ["D", 300]], 
                  columns=["col_A", "col_B"])

df

  col_A  col_B
0     A    200
1     B    400
2     C    100
3     D    300

In [54]:
k = 2

In [ ]:
## inicie o seu código abaixo
largest_k = ... 
## termine aqui o seu código

In [ ]:
largest_k

In [ ]:
## inicie o seu código abaixo
smallest_k = ... 
## termine aqui o seu código

In [ ]:
smallest_k

# 8. Mapear dados categóricos para valores integrais únicos

In [40]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["A", 3], ["D", 4]], 
                  columns=["col_A", "col_B"])

df

  col_A  col_B
0     A      1
1     B      2
2     A      3
3     D      4

In [ ]:
## inicie o seu código abaixo
new_df = ... 
## termine aqui o seu código

In [ ]:
new_df

# 9. Adicionar prefixo a cada nome de coluna

In [46]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]], 
                  columns=["col_A", "col_B"])

df

  col_A  col_B
0     A      1
1     B      2
2     C      3
3     D      4

In [ ]:
## inicie o seu código abaixo
new_df = ... 
## termine aqui o seu código

In [ ]:
new_df

# 10. Converter colunas categóricas em valores importantes (hot values)

In [51]:
df = pd.DataFrame([["A"], ["B"],
                   ["C"], ["A"]], 
                  columns=["col_A"])

df

  col_A
0     A
1     B
2     C
3     A

In [ ]:
## inicie o seu código abaixo
new_df = ... 
## termine aqui o seu código

In [ ]:
new_df