# Manipulação dados ausentes parte-2
------------

In [ ]:
import pandas as pd
import numpy as np
print( pd.__version__)
print( np.__version__)

In [ ]:
df=pd.read_csv("datasets/travel.csv")
df

### Substituir um valor específico por outro valor

       Suponha que o seu dataframe contenha alguns valores inválidos e quer substituí-los por outros valores como 0 ou NaN.
    Neste caso, os valores especiais são 5000 e 2000. Pode ver o seguinte resultado onde 2000 e 5000 são substituídos pelo valor NaN

In [ ]:
df2=df.replace(["5000","2000"],np.NaN)
df2

    Há um problema com esta abordagem é que ela substituirá todos os valores que passou na lista pelo seu valor, mas em muitos outros casos não quer como se você tiver 50.000 na coluna de preço, é válido, mas se 50000 está na coluna de nome, não é válido neste caso.
    não da coluna de preço.
    Nesse caso você precisa passar o dicionário na coluna de substituição. Este dicionário conterá o nome da coluna e o valor que você deseja substituir

In [ ]:
df2=df.replace({
    'Age':["2000","5000"],
    'No_of_pkg':["2000","5000"],
    "travel_id":[0]
},np.NaN)
df2

    Se quiser substituir algum valor específico como 5000 por qualquer outro valor e assim por diante.
    para passar o dicionário com todas as chaves que quer substituir e valores com os quais deseja substituir.
    Aqui 5000,2000,8 são os valores a serem substituídos são as chaves e np.NaN & 10 são os valores a serem substituídos são os valores do dicionário.

In [ ]:
df2=df.replace({
    "5000":np.NaN,
    "2000":np.NaN,
       8:10
})
df2

**Note:** Todos os valores no dataframe que pertencem às chaves do disccionário serão substituídos, independentemente da coluna.

### Remover caracteres desnecessários das colunas

Suponha que o seu dataframe contém caracteres desnecessários com seus valores de dados.Aqui years/yrs/Yrs/Years
    na coluna Age, o mesmo nas colunas No_of_pkg e Package são caracteres desnecessários que você não deseja
    e esses caracteres impedirão que aplique qualquer tipo de operação na análise de dados.
    para se livrar dele. Nesse caso tem que passar regex como um valor e o nome da coluna como uma chave do discionário que passou na função replace(), assim como também tem que definir regex=True e passar uma string vazia
    
* ** <code> [A-Za-z] </code> ** : This is the regex of all the character from A to Z and a to z.
* <b><code> \$ </code></b> : This is the regex for **<code>$</code>** sign.
* For futher information about regex go to this link https://medium.com/factory-mind/regex-tutorial-a-simple-cheatsheet-by-examples-649dc1c3f285

In [ ]:
df3=df2.replace({
    'Age':'[A-Za-z]',
    'No_of_pkg':'[A-Za-z]',
    'Package':'\$'
},"",regex=True)
df3

### Mapeamento de uma lista para outra lista

     Se o seu conjunto de dados contém dados que se repetem mais de uma vez ou você deseja alterar algum conjunto de string para number, então você tem que aplicar mapeamento de lista.

In [ ]:
mydis={
    "name":["Shahid","Adrika","Bikash","Ashish","Ganesh","Zahid","Mohan","Sohan"],
    "grades":["poor","excellent","very good","average","good","very good","outstanding","poor"]
      }
df=pd.DataFrame(mydis)
df

In [ ]:
df2=df.replace(["poor","average","good","very good","excellent","outstanding"],[5,6,7,8,9,10])
df2

In [ ]:
df2.describe()