# Iris

### Introdução:

Exercício de tratamento de dados.

### Passo 1. Importe as bibliotecas necessárias

### Passo 2. Importe o conjunto de dados deste endereço - https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data.

### Passo 3. Atribua-o a uma variável chamada iris

### Passo 4. Criar colunas para o conjunto de dados

In [57]:
# 1. sepal_length (em cm)
# 2. sepal_width (em cm)
# 3. petal_length (em cm)
# 4. petal_width (em cm)
# 5. class

### Passo 5. Falta algum valor no dataframe?

### Passo 6. Vamos definir os valores das linhas 10 a 29 da coluna 'comprimento da pétala' para NaN

### Passo 7. Vamos agora substituir os valores NaN por 1,0

### Passo 8. Vamos eliminar a coluna class

### Passo 9. Defina as 3 primeiras linhas como NaN

### Passo 10. Apague as linhas que possuem NaN

### Passo 11. Reponha o índice para que comece novamente com 0