# Iris

### Introdução:

Exercício de tratamento de dados.

### Passo 1. Importe as bibliotecas necessárias

In [25]:
import pandas as pd
import numpy as np
print(pd.__version__)
print(np.__version__)

2.2.3
2.2.3

### Passo 2. Importe o conjunto de dados deste endereço - https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data.

In [26]:

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

# nomes das colunas
colunas = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

# Carregar os dados
iris_df = pd.read_csv(url, header=None, names=colunas)

# Exibir
print(iris_df.head())

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

### Passo 3. Atribua-o a uma variável chamada iris

In [27]:
# iris = pd.read_csv(url)
iris = pd.read_csv('iris.csv')

### Passo 4. Criar colunas para o conjunto de dados

In [28]:
# 1. sepal_length (em cm)
# 2. sepal_width (em cm)
# 3. petal_length (em cm)
# 4. petal_width (em cm)
# 5. class
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

# nomes das colunas
colunas = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

# Carregar os dados
iris_df = pd.read_csv(url, header=None, names=colunas)

# Exibir as primeiras linhas do DataFrame
print(iris_df.head())

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

### Passo 5. Falta algum valor no dataframe?

In [29]:
# Verifica se há valores em falta no DataFrame
emfalta = iris_df.isnull().sum()

# Exibe a quantidade de valores em falta por coluna
print(emfalta)

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

### Passo 6. Vamos definir os valores das linhas 10 a 29 da coluna 'comprimento da pétala' para NaN

In [30]:
# Definir os valores entre 10 a 29 da coluna 'petal_length' para NaN
iris_df.loc[10:29, 'petal_length'] = np.nan

# Exibir as linhas 10 a 29 para verificar as alterações
print(iris_df[10:30])  # Exibe as linhas 10 a 29

    sepal_length  sepal_width  petal_length  petal_width      species
10           5.4          3.7           NaN          0.2  Iris-setosa
11           4.8          3.4           NaN          0.2  Iris-setosa
12           4.8          3.0           NaN          0.1  Iris-setosa
13           4.3          3.0           NaN          0.1  Iris-setosa
14           5.8          4.0           NaN          0.2  Iris-setosa
15           5.7          4.4           NaN          0.4  Iris-setosa
16           5.4          3.9           NaN          0.4  Iris-setosa
17           5.1          3.5           NaN          0.3  Iris-setosa
18           5.7          3.8           NaN          0.3  Iris-setosa
19           5.1          3.8           NaN          0.3  Iris-setosa
20           5.4          3.4           NaN          0.2  Iris-setosa
21           5.1          3.7           NaN          0.4  Iris-setosa
22           4.6          3.6           NaN          0.2  Iris-setosa
23           5.1          3.3           NaN          0.5  Iris-setosa
24           4.8          3.4           NaN          0.2  Iris-setosa
25           5.0          3.0           NaN          0.2  Iris-setosa
26           5.0          3.4           NaN          0.4  Iris-setosa
27           5.2          3.5           NaN          0.2  Iris-setosa
28           5.2          3.4           NaN          0.2  Iris-setosa
29           4.7          3.2           NaN          0.2  Iris-setosa

### Passo 7. Vamos agora substituir os valores NaN por 1,0

In [31]:
iris_df.fillna(1.0, inplace=True)

print(iris_df)

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

### Passo 8. Vamos eliminar a coluna class

In [32]:
del iris_df['species']

print(iris_df.head())

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

### Passo 9. Defina as 3 primeiras linhas como NaN

In [33]:
iris_df.iloc[0:3, :] = np.nan

print(iris_df.head())

   sepal_length  sepal_width  petal_length  petal_width
0           NaN          NaN           NaN          NaN
1           NaN          NaN           NaN          NaN
2           NaN          NaN           NaN          NaN
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

### Passo 10. Apague as linhas que possuem NaN

In [34]:
iris_df.dropna(how='any', inplace=True)

print(iris_df.head())

   sepal_length  sepal_width  petal_length  petal_width
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2
5           5.4          3.9           1.7          0.4
6           4.6          3.4           1.4          0.3
7           5.0          3.4           1.5          0.2

### Passo 11. Reponha o índice para que comece novamente com 0

In [35]:
iris_df.reset_index(drop=True, inplace=True)

print(iris_df.head())

   sepal_length  sepal_width  petal_length  petal_width
0           4.6          3.1           1.5          0.2
1           5.0          3.6           1.4          0.2
2           5.4          3.9           1.7          0.4
3           4.6          3.4           1.4          0.3
4           5.0          3.4           1.5          0.2